.field{style: 'text-align: center;'}
  .payment-instructions
    %p
      To process your request we need to save your <em>payment information</em>. Click below to save your information with our secure payment gateway, <b>Stripe</b>.
    %p
      You will not be charged until after the instruction, and can cancel at <b>any</b> time.

    %button.credit-button Pay with card

    %span.glyphicon.glyphicon-check.red Pending

  .payment-completed{style: 'display: none;'}
    %br/
    %p Your payment information was saved successfully. Fill out the form below and submit a request!
    %span.glyphicon.glyphicon-check.green{style: 'color:green; font-size: 1.5em;'} OK!

= simple_form_for @request do |f|
  - if @request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@request.errors.count, "error")} prohibited this request from being saved:"
      %ul
        - @request.errors.full_messages.each do |msg|
          %li= msg

  %h2 Times I am available
  %table.request-table.tables
    %thead
      %tr
        %th
        %th Sunday
        %th Monday
        %th Tuesday
        %th Wednesday
        %th Thursday
        %th Friday
        %th Saturday
    %tbody
      %tr.morning
        %td Morning
        %td.click-date.grey-highlight.sunday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.monday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.tuesday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.wednesday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.thursday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.friday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.saturday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
      %tr.afternoon
        %td Afternoon
        %td.click-date.grey-highlight.sunday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.monday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.tuesday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.wednesday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.thursday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.friday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.saturday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
      %tr.evening
        %td Evening
        %td.click-date.grey-highlight.sunday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.monday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.tuesday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.wednesday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.thursday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.friday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}
        %td.click-date.grey-highlight.saturday
          %span.glyphicon.glyphicon-ok-circle.bounceIn.animated{style: 'display:none'}

  %br/

  .field
    = f.label 'Message for mentor*(optional)'
    = f.text_area :body
  .field
    = f.hidden_field :sender_id, value: current_user.id
  .field
    = f.hidden_field :recipient_id, value: params[:recipient_id]

  .field{style: 'text-align: center; width: 100%;'}
    = f.hidden_field :stripe
  .field
    = f.hidden_field :time, id: 'time-field'
  .field
    = f.hidden_field :stripe, id: 'stripe-boolean'
  .actions
    = f.submit 'Save', class: 'button'

.modal-fade-screen
  .modal-inner
    .modal-close{for: 'modal-1'}
    .modal-content

  :javascript
    console.log("REQUESTS NEW");
    $('.credit-button').on('click', function(e) {
      e.preventDefault();
      $('body').addClass("modal-open");
      $('.modal-content').html("#{ escape_javascript(render 'stripe_form') }");
      $('.modal-fade-screen').css({ 'opacity':1, 'visibility':'visible'});
      $('.modal-fade-screen, .modal-close').on('click', function() {
        $('body').removeClass('modal-open');
        $('.modal-fade-screen').css('visibility', 'hidden');
      });
      $('.modal-inner').on('click', function(e) {
        e.stopPropagation();
      });
    });
