%br/
.game-notification
  - if user_signed_in?
    %h2 Game Request!
    %p You have been requested to join a new chess game with
    %p Click below to join the game!
    = form_for(@game) do |f|
      = f.hidden_field :player1_id, value: current_user.id, id: 'player1-field'
      = f.hidden_field :player2_id, id: 'player2-field'
      = f.hidden_field :invitation_id, id: 'invitation-field'
      %th
        = f.submit "Accept", :id => 'room-create', :class => 'button-large button button-submit'
