.mentor-show-wrapper{data:{id: '#{current_user.id}'}}
  .top-wrapper
    .photo-wrapper
      .round-photo-wrapper
        = image_tag @mentor.avatar.url(:thumb), width: '104', class: 'thumb-profile'
    .greeting-wrapper
      %h2 #{@mentor.name}
      %p #{@mentor.city}
    .mentor-info-wrapper
      %th
        %p USCF ranking: #{@mentor.official_ranking}
      %th
        %p User ranking: #{@mentor.user_ranking}
      %th
        %p City: #{@mentor.city}
      %th
        %p Country: #{@mentor.country}
      %th
        %p #{number_to_currency(@mentor.price)} / class


  - if current_user.class != Mentor
    .button-wrapper
      = link_to 'Message', new_conversation_path(sender_id: current_user.id, recipient_id: @mentor.id), remote: true, class: 'button', id: 'message-button'
      = link_to 'Request Instruction', new_request_path(recipient_id: @mentor.id), class: 'button small-font'

    .form-wrapper{style: 'margin-top: 130px;'}

  - else
    .button-wrapper
      = link_to 'Message', "#", remote: true, class: 'button', id: 'message-button'
      = link_to 'Create Game', new_invitation_path(sender_id: current_user.id, recipient_id: @mentor.id), remote: true, class: 'button small-font invitation-button'

    .form-wrapper{style: 'margin-top: 130px;'}

:javascript
  $(function() {
    $('.invitation-button').click(function(e) {
      e.preventDefault();
      $.ajax({
        url: '/invitations',
        type: 'POST',
        data: {sender_id: #{current_user.id}, recipient_id: #{@mentor.id}}
      });
    });
  });
