.mentor-show-wrapper{data:{id: '#{current_user.id}'}}
  .top-wrapper
    .photo-wrapper
      .round-photo-wrapper
        = image_tag @mentor.avatar.url(:thumb)
    .greeting-wrapper
      %h2 #{@mentor.name}
      %p #{@mentor.city}
    .mentor-info-wrapper
      %th
        %p USCF ranking: #{@mentor.official_ranking}
      %th
        %p User ranking: #{@mentor.user_ranking}
      %th
        %p City: #{@mentor.city}
      %th
        %p Country: #{@mentor.country}
      %th
        %p #{number_to_currency(@mentor.price)} / class
      %th
        %p #{@conversation.id}

  - if @conversation.messages.count == 0
    .button-wrapper
      = link_to 'Message', new_conversation_message_path(@conversation), remote: true, class: 'button', id: 'message-button'
      = link_to 'Request Instruction', '#', class: 'button small-font'
  - else
    .button-wrapper
      = link_to 'Request Instruction', '#', class: 'button small-font'

%script{src: '/assets/message_form.js'}
