-# = render 'pages/partials/header'

.top-content-wrapper{data: {user: "#{current_user ? current_user.id : "none"}", games: "#{current_user.games.count}"}}
  .left-side-wrapper
    -# content for message to user
    .message-wrapper
      .photo-wrapper
        .round-photo-wrapper
          = image_tag current_user.avatar.url(:thumb), width: '104', class: 'thumb-profile'
      .greeting-wrapper
        %h2.greeting Hi, #{current_user.name}!
        - if current_user.games.count == 0 && current_user.class != Mentor
          %p.greeting-content You have not played any games yet. Select a mentor to setup a game and personal instruction.
        - elsif current_user.games.count == 0 && current_user.class == Mentor
          %p.greeting-content Welcome to ChessMentor. You have not played any games yet.
        - elsif current_user.class == Mentor
          %p.greeting-content Welcome to ChessMentor. Remember to check your inbox for any player requests!
        - elsif current_user.class != Mentor
          %p.greeting-content Welcome to ChessMentor. Your current score is #{current_user.user_ranking}. Request a game to improve your score!

    -#  content for user profile
    .user-info-wrapper
      .profile-wrapper
        .profile-header
          %i.glyphicon.glyphicon-user
          %p My Profile
          %div{style: 'clear: both;'}
        %table.tables
          %tbody
            %tr.edit-profile-link{onmouseover:"", style: 'cursor: pointer;'}
              %td.grey-highlight #{current_user.name}
            %tr.edit-profile-link{onmouseover:"", style: 'cursor: pointer;'}
              %td.grey-highlight City: #{current_user.city}
            %tr.edit-profile-link{onmouseover:"", style: 'cursor: pointer;'}
              %td.grey-highlight Country: #{current_user.country}
            %tr.edit-profile-link{onmouseover:"", style: 'cursor: pointer;'}
              %td.grey-highlight Ranking: #{current_user.official_ranking}
            %tr.edit-profile-link{onmouseover:"", style: 'cursor: pointer;'}
              %td.grey-highlight Games played:

      -# Recent games by mentor/learner
      .games-wrapper
        .games-header
          %i.glyphicon.glyphicon-tower
          %p My Games
          %div{style: 'clear: both;'}

        .games-holder
          - if current_user.games.count >= 3
            - current_user.games.last(3).each_with_index do |game, idx|
              .board{id: "board#{idx}", data: {game_id: "#{game.id}"}, onmouseover:"", style: 'cursor: pointer;'}
              :javascript
                var cfg = {
                    pieceTheme: '/assets/{piece}.png',
                    showNotation: false,
                    position: 'start'
                    };
                cfg.position = "#{game.moves.last.piece}";
                var board = new ChessBoard("board#{idx}", cfg);
          - else
            .board{id: "board0"}
            .board{id: "board1"}
            .board{id: "board2"}
              :javascript
                var cfg = {
                    pieceTheme: '/assets/{piece}.png',
                    showNotation: false,
                    position: 'start'
                  };

                cfg.position = 'rnbqkbnr/pp1ppppp/8/2p5/4P3/5N2/PPPP1PPP/RNBQKB1R'
                var board0 = new ChessBoard('board0', cfg);
                cfg.position = 'rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR'
                var board1 = new ChessBoard('board1', cfg);
                cfg.position = 'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R';
                var board2 = new ChessBoard('board2', cfg);
          %div{style: 'clear: both;'}

        .games-description
          .top-row
          - if current_user.games.count > 0
            - current_user.games.last(3).each_with_index do |game, idx|
              %p vs. #{current_user.id == game.player1_id ? User.where(id: game.player2_id).size != 0  ? User.find(game.player2_id).name : nil : User.where(id: game.player1_id).size != 0  ? User.find(game.player1_id).name : nil }
          - else
            %p.no-games-yet You do not have any games yet. Request a game with one of our mentors!

  -# Search bar for mentors/learner
  .right-side-wrapper
    - if current_user.class == Mentor
      = render 'pages/partials/user_search'
    - else
      = render 'pages/partials/mentor_search'

-# Gallery of mentors
%h2{id: 'mentor-header', style: 'text-align: center;'} Mentors
.mentor-carousel-wrapper
  .gallery.items-3.autoplay
    - @mentors.each do |mentor|
      .mentor-wrapper{style: 'padding-bottom: 15px;'}
        <a data-remote="true" data-id="#{mentor.id}" href="#"><h2> #{mentor.name}</h2></a>
        %p.border-bottom Ranking: #{mentor.official_ranking}
        %p Cost per class: #{number_to_currency(mentor.price)}
        = link_to image_tag(mentor.avatar.url(:medium)), '#', remote: true

= render 'pages/partials/footer'
