-# = render 'pages/partials/header'

.top-content-wrapper
  .left-side-wrapper
    -# content for message to user
    .message-wrapper
      .photo-wrapper
        .round-photo-wrapper
          = image_tag current_user.avatar.url(:thumb), width: '104', class: 'thumb-profile'
      .greeting-wrapper
        %h2.greeting Hi, #{current_user.name}!
        %p.greeting-content You have not played any games yet. Select a mentor to setup a game and personal instruction.

    -#  content for user profile
    .user-info-wrapper
      .profile-wrapper
        .profile-header
          %i.glyphicon.glyphicon-user
          %p My Profile
          %div{style: 'clear: both;'}
        %table.tables
          %tbody
            %tr
              %td #{current_user.name}
            %tr
              %td City: #{current_user.city}
            %tr
              %td Country: #{current_user.country}
            %tr
              %td Ranking: #{current_user.official_ranking}
            %tr
              %td Games played:

      .games-wrapper
        .games-header
          %i.glyphicon.glyphicon-tower
          %p My Games
          %div{style: 'clear: both;'}
        .games-holder
          .board{id: 'board'}
          .board{id: 'board2'}
          .board{id: 'board3'}
          %div{style: 'clear: both;'}
        .games-description
          .top-row
          %p{style: 'padding-left: 39px;'} vs. Vlad P
          %p{style: 'padding-left: 45px;'} vs. Arnold
          %p{style: 'padding-left: 54px;'} vs. BobbyD

  .right-side-wrapper
    - if current_user.class == Mentor
      = render 'pages/partials/user_search'
    - else
      = render 'pages/partials/mentor_search'


%h2{id: 'mentor-header', style: 'text-align: center;'} Mentors
.mentor-carousel-wrapper
  .gallery.items-3.autoplay
    .control-operator{id: 'item-1'}
    .control-operator{id: 'item-2'}
    .control-operator{id: 'item-3'}


    %figure.item
      - @mentors.first(4).each do |mentor|
        .mentor-wrapper
          <a data-remote="true" data-id="#{mentor.id}" href="#"><h2> #{mentor.name}</h2></a>
          %p.border-bottom Ranking: #{mentor.official_ranking}
          %p Cost per class: #{number_to_currency(mentor.price)}
          = link_to image_tag(mentor.avatar.url(:medium)), '#', remote: true

    %figure.item
      - @mentors.first(8).last(4).each do |mentor|
        .mentor-wrapper{style: 'padding-bottom: 15px;'}
          <a data-remote="true" data-id="#{mentor.id}"  href='#'><h2> #{mentor.name}</h2></a>
          %p.border-bottom Ranking: #{mentor.official_ranking}
          %p Cost per class: #{number_to_currency(mentor.price)}
          = link_to image_tag(mentor.avatar.url(:medium)), '#', remote: true

    %figure.item
      - @mentors.last(4).each do |mentor|
        .mentor-wrapper{style: 'padding-bottom: 15px;'}
          <a data-remote="true" data-id="#{mentor.id}" href="#"><h2> #{mentor.name}</h2></a>
          %p.border-bottom Ranking: #{mentor.official_ranking}
          %p Cost per class: #{number_to_currency(mentor.price)}
          = link_to image_tag(mentor.avatar.url(:medium)), '#', remote: true

    .controls
      %a.control-button{href: '#item-1'}
      %a.control-button{href: '#item-2'}
      %a.control-button{href: '#item-3'}


%footer.footer{role: 'contentinfo'}
  %br
  %br
  .footer-links
    %ul
      %li
        %h3 Content
      %li
        %a{href:'#'} About
      %li
        %a{href:'#'} Contact
      %li
        %a{href:'#'} Testimonials
    %ul
      %li
        %h3 Follow Us
      %li
        %a{href:'#'} Facebook
      %li
        %a{href:'#'} Twitter
      %li
        %a{href:'#'} YouTube

    %ul
      %li
        %h3 Legal
      %li
        %a{href: '#'} Terms and Conditions
      %li
        %a{href: '#'} Privacy Policy
  %hr

  %p Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.


%script{src: '/assets/dropdown.js'}
%script{src: '/assets/set_board.js'}
